html {
    background-color: antiquewhite;
}

#gameboard {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    border: 1px solid red;
}

.square {
    border: 1px solid black;
    width: 25%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
